*{
    /* margin: 0; */
    padding: 0;
}

body{
    text-align: center;
}

.win-txt{
    display: none; /*just to make sure the text do not show up when page loads and make it appear when the user's guess is right*/
}